<?xml version="1.0"?>
<config>
    <modules>
        <Sostanza_Livehelp>
            <version>1.0.0</version>
            <cache_lifetime>0</cache_lifetime>
        </Sostanza_Livehelp>
    </modules>
    <global>
        <helpers>
            <livehelp>
                <class>Sostanza_Livehelp_Helper</class>
            </livehelp>
        </helpers>
        <blocks>
            <livehelp>
                <class>Sostanza_Livehelp_Block</class>
            </livehelp>
        </blocks>
    </global>
	<admin>
        <routers>
            <adminhtml>
				<use>admin</use>
                <args>
                    <modules>
                        <foo_bar before="Mage_Adminhtml">Sostanza_Livehelp_Adminhtml</foo_bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>