<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <livehelp_config module="livehelp" translate="label">
            <label>Livehelp</label>
            <sort_order>1</sort_order>
        </livehelp_config>
    </tabs>
    <sections>
        <livehelp translate="label" module="livehelp">
            <label>Configure plugin</label>
            <tab>livehelp_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <buttons>
                    <frontend_model>livehelp/adminhtml_config_source_buttons</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </buttons>
                <widget module="livehelp" translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active module="livehelp" translate="label">
                            <label>Enable Livehelp</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <lhid module="livehelp" translate="label">
                            <label>Livehelp ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[This is the 5-digit key provided in your subscription email (without ID-). <b>Click "Save Config"</b> to update the widget  list.<br /> ]]>
                            </comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </lhid>
                    </fields>
                </widget>
                <advancedconfig module="livehelp" translate="label">
                    <label>Widget Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <depends>
                        <widget_method>2</widget_method>
                    </depends>
                    <comment>
                        <![CDATA[If you have set a list of dynamic widget in <a href="http://server.livehelp.it" target=blank>Livehelp&reg; dashboard</a>, choose the widget that will pop up on each type of your e-commerce pages:<br>- <b>All</b>: the chat widget will pop up on every page of the website.<br>- <b>Categories</b>: the chat widget will pop up in the category listing  (i.e. apparel, shoes, accessories…).<br>- <b>Product</b>: the chat widget will pop up on each product page.<br>- <b>Funnel</b>: the chat widget will pop up in the cart and checkout pages.<br>- <b>Others</b>: all the pages that aren't products,categories or funnel.<br><br>If you would like the chat widget to appear through the whole website, just choose the widget for the ALL select and leave the others unselected.]]>
                    </comment>
                    <fields>
                        <cart module="livehelp" translate="label">
                            <label>Let agents view/edit cart details</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart>
                        <trackorder module="livehelp" translate="label">
                            <label>Track your orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>
                                <![CDATA[Only for <b>business account</b>. ]]>
                            </comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trackorder>

                        <filter module="livehelp" translate="label">

                            <label>All</label>
                            <frontend_type>select</frontend_type>
                            <source_model>livehelp/config_source_GetCool</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </filter>
                        <viewGEN module="livehelp" translate="label">
                            <label>Others</label>
                            <frontend_type>select</frontend_type>
                            <source_model>livehelp/config_source_GetCool</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </viewGEN>
                        <viewCAT module="livehelp" translate="label">
                            <label>Categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>livehelp/config_source_GetCool</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </viewCAT>
                        <viewPROD module="livehelp" translate="label">
                            <label>Product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>livehelp/config_source_GetCool</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </viewPROD>
                        <viewFUNNEL module="livehelp" translate="label">
                            <label>Funnel</label>
                            <frontend_type>select</frontend_type>
                            <source_model>livehelp/config_source_GetCool</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </viewFUNNEL>
                    </fields>
                </advancedconfig>
            </groups>
        </livehelp>
    </sections>
</config>